<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Group
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All Group</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onCreateGroup()" >+</ion-fab-button>
  </ion-fab>
<ion-list *ngFor="let grp of commonsrvc.groups; let idx = index">
  <app-grp [group]="grp"></app-grp>

</ion-list>
</ion-content>
