<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #addgroup="ngForm" autocomplete="off" (ngSubmit)="creategrp()">
    <ion-item no-lines>
      <ion-input
        clearInput
        placeholder="Group Name"
        name="grpname"
        id="grpname"
        type="text"
        required
       
         
        [(ngModel)]="grpName"
        #grpname
      ></ion-input>
    </ion-item>

    <ion-item no-lines >
      <ion-input
        clearInput
        placeholder="Your Name"
        name="usrname"
        id="usrname"
        type="text"
        required
       
         
        [(ngModel)]="usrname"
        #grpname
      ></ion-input>
     

    </ion-item>

    <ion-item no-lines>
      <ion-button  color="primary"
       type="submit" center
      [disabled]="!addgroup.form.valid"
      >Save</ion-button>
            
    </ion-item>
  </form>
</ion-content>
