<ion-header>
 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form #postForm="ngForm" autocomplete="off" (ngSubmit)="AddPost()">
    <ion-item center>
      <img class="image-panel" id="uploadedImage" />
    </ion-item>
    <ion-item no-lines>
      <ion-input
        clearInput
        placeholder="Group Name"
        name="description"
        id="description"
        type="text"
        required
       
         
        [(ngModel)]="obj.description"
        #desc 
      ></ion-input>
    </ion-item>
 
    <ion-item no-lines>
      <ion-input
        clearInput
        placeholder="Location"
        name="location"
        id="location"
        type="text"
        required
       
         
        [(ngModel)]="obj.location"
        #Location
      ></ion-input>
    </ion-item>
  <ion-item>
    <!-- <ion-input
    clearInput
    placeholder="Tag"
    name="tags"
    id="tags"
    type="text"
    required
   
     
    [(ngModel)]="obj.tags"
    #tag 
  ></ion-input> -->

 
    
      <ion-label>Tags to</ion-label>
      <ion-select 
      [(ngModel)]="obj.tags" 
      multiple=true  
      name="tags" >
        <ion-select-option *ngFor="let usr of commnSrvc.users" value="{{usr.email}}">{{usr.email}}</ion-select-option>
     
      </ion-select>
   
  </ion-item>
  <ion-item >
    {{obj.tags}}
   </ion-item>
  <ion-item>
    <ion-input
    clearInput
    placeholder="Event"
    name="event"
    id="event"
    type="text"
    required
   
     
    [(ngModel)]="obj.event"
    #event 
  ></ion-input>


  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" 
    [(ngModel)]="obj.date"
    name="date"></ion-datetime>


  </ion-item>

    <ion-label no-padding no-margin text-right>
      <input #fileInput type="file" id="uploadPost"
       style="display: none" (click)="fileInput.value = null;"
        (change)="selectedPostImage($event)" accept="image/*" />
      <ion-button type="button" size="medium" class="font textTransform card-action-btn" (click)="InvokeuploadFile()"
        style="font-weight: normal;height: 40px;border-radius: 4px;color:black;" color="warning" expand="block">
        Browse</ion-button>
    </ion-label>
    <ion-item no-lines>
      <ion-button  color="primary"
      ion-button type="submit" center 
      [disabled]="!postForm.form.valid">Add</ion-button>
            
    </ion-item>
  </form>
</ion-content>
