<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>groupdetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>{{group?.name}}</ion-item>
<ion-item>{{group?.created}}</ion-item>

<ion-button *ngIf="!isJoined" (click)="onJoined()">Join</ion-button>
</ion-content>
