<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Posts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">All Posts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddPost()" >+</ion-fab-button>
  </ion-fab>
  <ion-list *ngFor="let post of commonsrvc.posts; let idx = index">
    <app-postitem [post]="post"></app-postitem>
  
  </ion-list>
</ion-content>
