<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab2"> 
      <ion-label>Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1"> 
      <ion-label>Group</ion-label>
    </ion-tab-button>


    <!-- <ion-tab-button tab="tab3"> 
      <ion-label>View post</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
