<ion-card>
  <img [src]='getUrl()' />
  <ion-card-content>
    <ion-card-title>
     {{post.location}}
      </ion-card-title>
    <p>
      {{post.description}}
    </p>
    <p>
      {{post.date}}
    </p>
  </ion-card-content>
</ion-card>